@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(212, 230, 240, 1);
  color: rgba(34, 34, 34, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(10, 76, 117, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(10, 76, 117, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 24px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 8px;
  background: linear-gradient(180deg, #0a4c75 0%, #052539 100%);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Gabarito;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -2%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 254, 236, 1);
  width: 210px;
  display: flex;
  justify-content: center;
  padding: 6px;
  border-bottom: 2px solid transparent;
}
.navigation__item-desk {
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  text-decoration-skip-ink: auto;
}
.navigation__link:hover,
.navigation__link:focus {
  text-decoration: none;
  border-bottom: 2px solid rgba(231, 199, 73, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 62px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Gabarito;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: -2%;
    width: 150px;
    padding: 6px 0;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 88px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.home-title {
  width: 255px;
  height: 209px;
}

.home-text {
  font-family: Gabarito;
  font-weight: 600;
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(255, 254, 236, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  padding: 16px 0 273px;
  width: 253px;
  margin: auto;
}
.home__google-button_image {
  width: 280px;
  height: 82px;
  margin: auto;
}
.home__google-button_link {
  margin: auto;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 900px;
    padding: 102px 670px 0 151px;
    background-image: url("/img/home/1_home.png");
  }

  .home-title {
    width: 424px;
    height: 348px;
  }

  .home-text {
    font-family: Gabarito;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;

    width: auto;
    margin: 0;
    padding: 32px 0 80px;
  }
}
.uniqueness {
  width: 375px;
  height: 1022px;

  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/6_ourUniqueness_mob.png");
}

.uniqueness-text-bold {
  font-family: Gabarito;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -2%;
  text-align: center;
}
.uniqueness-text {
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
  padding: 32px 0;
}
.uniqueness-text-two {
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
  text-align: center;
  padding-top: 199px;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    height: 750px;
    margin: auto;
    padding: 60px 369px 0;
    background-image: url("/img/6_ourUniqueness\ \(1\).png");
  }

  .uniqueness-text-bold {
    font-family: Gabarito;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -2%;
    text-align: center;
  }
  .uniqueness-text {
    font-family: Gabarito;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: -2%;
    width: 614px;
    margin: auto;
    padding: 30px 0;
  }
  .uniqueness-text-two {
    font-family: Gabarito;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -2%;
    text-align: center;
    padding-top: 199px;
  }
}
.about {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  background: rgba(255, 254, 236, 1);
}

.about-title {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/pg_title.png");
  width: 275px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: Gabarito;
  font-weight: 600;
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: -2%;
  color: rgba(255, 254, 236, 1);
  text-shadow: 2px 3px 4px rgba(49, 49, 49, 1);
}

.about-text {
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-text-bold {
  font-family: Gabarito;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
  text-align: center;
  padding: 32px 0px 20px;
}
.about-text img {
  width: 343px;
  height: 178px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 60px 98px;
    margin: auto;
    width: 1440px;
  }

  .about-title {
    width: 403px;
    height: 139px;
    font-family: Gabarito;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
  }

  .about-text {
    font-family: Gabarito;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: -2%;

    height: 440px;
    flex-wrap: wrap;
    gap: 24px;
  }
  .about-text li {
    width: 610px;
  }
  .about-text-bold {
    font-family: Gabarito;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -2%;
    text-align: center;
    width: 920px;
    margin: auto;
    padding: 40px 0px 24px;
  }
  .about-text img {
    width: 610px;
    height: 328px;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.how-img {
  margin: 10px auto 20px;
  width: 160px;
  height: auto;
}
.how-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.how-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.how-text-number {
  font-family: Gabarito;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
  color: rgba(160, 52, 38, 1);
  text-align: center;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 254, 236, 1);
  border: 4px solid rgba(231, 199, 73, 1);
}
.how-text-bold {
  font-family: Gabarito;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
}
.how-text {
  width: 271px;
  font-family: Gabarito;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: -2%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    padding: 60px 125px;
  }
  .how-div {
    display: flex;
    padding-top: 40px;
    gap: 48px;
  }
  .how-img {
    margin: auto;
    width: 300px;
    height: auto;
  }
  .how-list {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .how-item {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .how-text-bold {
    font-family: Gabarito;
    font-weight: 600;
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: -2%;
  }
  .how-text {
    width: 802px;
    font-family: Gabarito;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -2%;

    padding-top: 10px;
  }
}

.reviews {
  width: 375px;
  height: 1079px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/4_userReviews_mob.png");
}

.reviews-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.reviews-item {
  width: 343px;
  border-radius: 9px;
  border-width: 2px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  background: rgba(255, 254, 236, 1);
  border: 2px solid rgba(42, 104, 32, 1);
}
.reviews-item-top {
  display: flex;
  gap: 7px;
  align-items: center;
}
.reviews-text-bold {
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
}
.reviews-text {
  font-family: Gabarito;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: -2%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 762px;
    padding: 60px 183px 0;
    background-image: url("/img/reviews/4_userReviews.png");
  }

  .reviews-list {
    padding-top: 145px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 716px;
    gap: 24px;
  }
  .reviews-item {
    width: 222px;
    height: 133px;
    border-radius: 9px;
    border-width: 2px;
    padding-top: 8px;
    padding-right: 4px;
    padding-bottom: 8px;
    padding-left: 10px;
  }
  .reviews-item-top {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .reviews-text-bold {
    font-family: Gabarito;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: -2%;
  }
  .reviews-text {
    font-family: Gabarito;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: -2%;
  }
}

.faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  height: 1610px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/7_FAQ_mob.png");
}
.faq-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 242px;
}

.faq-item {
  perspective: 1000px;
  cursor: pointer;
  margin: auto;
  width: 280px;
  height: 220px;
  transition: all 0.3s ease-in-out;
}
.faq-item:hover {
  transform: scale(1.1);
}
.faq-item div {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.6s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/3.png");
  width: 280px;
  height: 220px;
}

.faq-front {
  z-index: 2;
}

.faq-back {
  transform: rotateY(180deg);
}

.faq-item.flipped .faq-front {
  transform: rotateY(180deg);
}

.faq-item.flipped .faq-back {
  transform: rotateY(0);
}
.faq-question {
  width: 224px;
  border-radius: 8px;
  padding: 10px;
  background: rgba(255, 254, 236, 1);
  border: 2px solid rgba(34, 34, 34, 1);
  font-family: Gabarito;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -2%;
  text-align: center;
}
.faq-answer {
  width: 224px;
  border-radius: 8px;
  border-width: 2px;
  padding: 10px;
  background: rgba(255, 254, 236, 1);
  border: 2px solid rgba(34, 34, 34, 1);
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 60px 393px 0 159px;
    width: 1440px;
    height: 767px;
    background-image: url("/img/7_FAQ.png");
  }
  .faq-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 40px;
    justify-content: center;
  }
  .faq-item {
    margin: 0;
  }
}
.features {
  width: 375px;
  height: 1461px;
  margin: auto;
  background-image: url("/img/features/3_advantages_mob.png");
  padding: 40px 16px;
}

.features-list {
  padding-top: 245px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.features-item {
  display: flex;
  align-items: start;
  gap: 24px;
}

.features-text-bold {
  font-family: Gabarito;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
}
.features-text {
  font-family: Gabarito;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: -2%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 1021px;
    background-image: url("/img/features/3_advantages.png");
    padding: 60px 183px;
  }

  .features-list {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .features-item {
    display: flex;
    align-items: start;
    gap: 24px;
  }
  .features-item-two {
    margin-left: 406px;
  }
  .features-text-bold {
    font-family: Gabarito;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -2%;
  }
  .features-text {
    font-family: Gabarito;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: -2%;
  }
}
.footer {
  background: rgba(10, 76, 117, 1);

  color: #ffffff;
  padding: 40px 26px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;
}
.footer-text {
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  text-decoration-skip-ink: auto;
  color: #ffffff;
}

.footer-copyright {
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 60px 0px;
  }
  .footer-container {
    display: flex;

    gap: 40px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 96px;
  }
  .footer-text {
    font-family: Gabarito;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: -2%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Gabarito;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: -2%;
  }
}
.policy-terms-container {
  padding: 76px 16px 40px;
}
.policy-terms-title {
  width: 275px;
  height: 92px;
  margin: auto;
  background-image: url("/img/pg_title.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Gabarito;
  font-weight: 600;
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: -2%;
  color: rgba(255, 254, 236, 1);
  text-shadow: 2px 3px 4px rgba(49, 49, 49, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-terms-text {
  font-family: Gabarito;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -2%;
  color: rgba(10, 76, 117, 1);

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 120px 172px 60px;
  }
  .policy-terms-title {
    width: 403px;
    height: 139px;
    font-family: Gabarito;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: rgba(10, 76, 117, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Gabarito;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -2%;
  text-align: center;

  color: rgba(255, 254, 236, 1);
}
.cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(231, 199, 73, 1);
  width: 168px;
  padding: 10px 0;
  font-family: Gabarito;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(255, 254, 236, 1);
}
#accept-cookies {
  background: rgba(231, 199, 73, 1);
  width: 163px;
  gap: 10px;
  border-radius: 12px;
  padding: 10px 0;
  color: rgba(34, 34, 34, 1);
  border: navajowhite;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Gabarito;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -2%;
    text-align: center;
  }
  .cookie-button-container {
    margin: auto;
    display: flex;
    gap: 80px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 40px 101px;
    display: none;
  }
}
